@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(150vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(130vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

/* .header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #10101E;
} */
.header img {
  height: 79px;
}

/* 
.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #32b9cd;
} */

.agora {
  font-weight: 800;
}

/* .navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #ffffff;
} */

.titulo {
  color: #10101e;
  width: fit-content;
  font-weight: 500;
  top: 0;
  
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: url('../assets/imgs/racionais\ album.jpg');
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.origem{
  height: 500px;
}

.social {
  background-color: #10101e;
  display: flex;
  flex-direction: column;
}

.social .container {
  color: #e5e5e5;
  justify-content: center;
  flex-direction: column;
}

.box_titulo{
font-size: 60px;
margin-top: 2%;
}
 .espaco{
  gap: 30px;
 }
.box img {
  width: 150px;
  height: 110px;
  border-radius: 10%;
}

.social .container .boxes {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 100%;
  padding: 30px 0;
}

.origem_musica{
  display: flex;
  flex-direction: row;
}
.viewcoffee{
  width: auto;
  height: auto;
}
.zeca{
  height: 200px;
  width: 450px;
  /* display: flex; */
  border-radius: 20px;
}
.texto_zeca{
  /* display: flex; */
  /* flex-direction: row; */
 margin: 15px;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*outras plataformas*/
 .container_mus .content_mus {
  background-color: #32b9cd;
  width: 60%;
  height: 90%;
  
  border-radius: 30px;
}
.carrosel_mus{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.carrosel_mus button{
  border-radius: 80px;
  height: 110px;
  width: 110px;
  color: #F3F9FE;
}
.container_mus{
  justify-content: center;
  align-items: center;
  color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.content_mus .titulo_mus {
  font-size: larger;

}
/* SOBRE MIM */
.content_3 
{
    display: flex;
    flex-direction: column;
    height: 120vh;
    align-items: center;
    justify-content: center;
}

.content_3 .content_section
{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
}
 .content_3 .content_section .arondcard .card .title{
    display: flex;
    justify-content: center;
    align-items: end;
 }
.content_3 .content_section .card_section
{
    width: 100%;
    height: 100%;
    background-color: #10101e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../assets/imgs/BLUESMAN.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}


.content_3 .content_section .card_section .arondcard
{
    width: 16vw;
    height: 40vh;
    
}


.content_3 .content_section .card_section .card
{
    position: fixed;
    left: 18%;
    width: 65vw;
    height: 65vh;
    background-color: #D9C9BA;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content_3 .content_section .card_section .card .image
{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 15%;
    margin-bottom: auto;
    
}

.content_3 .content_section .card_section .card .image img
{
    height: 150px;
}

.content_3 .content_section .card_section .card .texto
{
    width: 85%;
    height: 50%;
    align-self: center;
    text-align: center;
}

.content_3 .content_section .card_section .card .texto span
{
    font-family: sofia-normal;
    font-size: 28px;
    height: 100px;
    width: 100px;
    
}

.content_3 .content_section .card_section .arondcard .card_number
{
    display: flex;
 background-color: #8e6f69;
 border-radius: 100%;
 width: 50px;
 height: 50px;
 color: rgb(121, 21, 12);
align-items: center;
justify-content: center;
}

.content_3 .content_section .card_section .arondcard .card .number_line
{
    height: auto;
    font-family: sofia-normal;
    font-size: 28px;
}


/* FOOTER */

.footer {
  background-color: #10101e;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer img {
  /* justify-content: center;
  display: flex;
  align-items: center; */
  height: 50px;
}
.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/periferia.jpg');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 20px;
  border-color: #10101e 2px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #11111F;
  flex-direction: column;
  height: fit-content;
  padding: 20px;
}

.card h3 {
  margin: 0;
  font-size: 24px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario .botao_login{
  flex-direction: row;
 display: flex;
 justify-content: center;
 
}
.formulario .botao_login button{
  margin:20px ;
}

.formulario .botao_login a {
  text-decoration: none;
  color: #fff;
}

.formulario input {
  border: 2px solid #A2AAAD;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #A2AAAD;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #11111F;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* #div_erros_login {
  display: none
} */

/* FORMULARIO */

/* .alerta_erro{
  display: flex;
  justify-content: flex-end;
} */

/* .card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
} */

/* .card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
} */

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #212124;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}